<?xml version="1.0" encoding="UTF-8"?>
<beer>
  <id>Otter-Creek-Brewing/Spring-Ale</id>
  <brewery_id>Otter-Creek-Brewing</brewery_id>
  <name>Spring Ale</name>
  <description>Otter Creek's new Spring Ale Special Release is a German-style Klsch: a bright golden ale originating in Cologne. Craft brewed with 2-row malt and malted wheat, and hopped with Tettnang and Liberty hops, this beer is crisp and refreshing with a dry finish.</description>
  <availability>spring</availability>
  <ingredients/>
  <grains/>
  <grains/>
  <hops/>
  <yeast/>
  <otherings/>
  <styles>
    <style><name>Kolsch</name></style>
  </styles>
</beer>
